:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url(./images/space.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

/* START HEADER */

.header-container {
  margin-left: 9.3rem;
  margin-top: 7.5rem;
  display: flex;
}

.profile-img {
  border-radius: 7px;
  width: 300px;
  height: 300px;
  margin-top: 3rem;
}

.textbox-container {
  background-color: whitesmoke;
  opacity: 0.8;
  width: 750px;
  height: 130px;
  border-radius: 5px;
}

.textbox-position {
  margin-bottom: 20rem;
  margin-left: 1.5rem;
}

/* END HEADER */

/* START CARDS */

.black-bar {
  background-color: rgba(0, 0, 0, 0.541);
  height: 250px;
  width: 1315px;
  margin-top: 600px;
  margin-left: -1270px;
}

.card-container {
  display: flex;
  flex-direction: row;
  margin-top: 620px;
  margin-left: -1270px;
  align-items: center;
  justify-content: center;
}

.cards {
  width: 300px;
  height: 200px;
  border-radius: 7px;
  justify-content: space-evenly;
}

.cards2 {
  margin-left: 2rem;
}

.no-bullets {
  list-style-type: none;
}

/* END CARDS */

/* START CONTENT */

.content-container {
  margin-top: 870px;
  margin-left: -1350px;
  background-color: #031019;
  height: 500px;
  width: 1351px;
}

/* END CONTENT */

/* START FOOTER */
/* END FOOTER */